<!-- Section Tagline 2 -->
<section class="bg-background responsive-padding pb-[70px]">
  <!-- Заголовок -->
  <div class="text-center max-w-2xl mx-auto mb-12">
    <p class="reveal-right text-sm font-neue-b">{{ section.settings.tagline }}</p>
    <h2 class="reveal-left text-2xl md:text-3xl font-neue-b mt-2">{{ section.settings.heading }}</h2>
    <p class="reveal-right text-base font-neue-r mt-4">{{ section.settings.description }}</p>
  </div>

  <!-- Сітка блоків -->
  <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">
    {% for block in section.blocks %}
      <div class="reveal-zoom bg-white px-[48px] md:py-[48px] py-5 h-[320px] flex flex-col justify-around shadow-sm">
        {% if block.settings.icon != blank %}
          <img src="{{ block.settings.icon | image_url }}" alt="icon" class="w-12 h-12">
        {% else %}
          <img src="{{ 'cube.webp' | asset_url }}" alt="icon" class="w-12 h-12">
        {% endif %}
        <h3 class="lg:text-3xl text-2xl font-neue-b text-gray-900">{{ block.settings.title }}</h3>
        <p class="text-sm font-neue-r text-gray-700 mt-2">{{ block.settings.text }}</p>
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Tagline Grid Section",
  "settings": [
    {
      "type": "text",
      "id": "tagline",
      "label": "Tagline",
      "default": "Tagline"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Short heading goes here"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    }
  ],
  "blocks": [
    {
      "type": "feature_item",
      "name": "Feature Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Medium length section heading goes here"
        },
        {
          "type": "textarea",
          "id": "text",
          "label": "Description",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique."
        }
      ]
    }
  ],
  "max_blocks": 8,
  "presets": [
    {
      "name": "Tagline Grid"
    }
  ]
}
{% endschema %}
