<!-- Our Motors Section -->
<section class="z-10 responsive-padding bg-white xl:pt-[90px] md:pt-[75px] pt-[60px] lg:pb-[90px] pb-[50px]">
  <div class="max-w-[1440px] mx-auto flex flex-col">
    <h2 class="responsive-text max-w-[1440px] pb-10 font-neue-m">{{ section.settings.our_motors_title }}</h2>
    <div class="hidden lg:block">
      <div class="grid grid-cols-[minmax(0,1fr)_minmax(0,1fr)_minmax(0,1fr)_1rem_minmax(0,1fr)_minmax(0,1fr)_1rem_minmax(0,1fr)] gap-4">
        <div class="aspect-square overflow-hidden"><img class="h-full w-full object-cover" src="{{ 'new-mt-1.png' | asset_url }}" alt="{{ section.settings.fpv_title | escape }}"></div>
        <div class="aspect-square overflow-hidden"><img class="h-full w-full object-cover" src="{{ 'new-mt-2.png' | asset_url }}" alt="{{ section.settings.fpv_title | escape }}"></div>
        <div class="aspect-square overflow-hidden"><img class="h-full w-full object-cover" src="{{ 'new-mt-3.png' | asset_url }}" alt="{{ section.settings.fpv_title | escape }}"></div>
        <div></div>
        <div class="aspect-square overflow-hidden"><img class="h-full w-full object-cover" src="{{ 'new-mt-7.png' | asset_url }}" alt="{{ section.settings.fixed_wing_title | escape }}"></div>
        <div></div>
        <div></div>
        <div></div>

        <div class="aspect-square overflow-hidden"><img class="h-full w-full object-cover" src="{{ 'new-mt-4.png' | asset_url }}" alt="{{ section.settings.fpv_title | escape }}"></div>
        <div class="aspect-square overflow-hidden"><img class="h-full w-full object-cover" src="{{ 'new-mt-5.png' | asset_url }}" alt="{{ section.settings.fpv_title | escape }}"></div>
        <div class="aspect-square overflow-hidden"><img class="h-full w-full object-cover" src="{{ 'new-mt-6.png' | asset_url }}" alt="{{ section.settings.fpv_title | escape }}"></div>
        <div></div>
        <div class="aspect-square overflow-hidden"><img class="h-full w-full object-cover" src="{{ 'new-mt-8.png' | asset_url }}" alt="{{ section.settings.fixed_wing_title | escape }}"></div>
        <div class="aspect-square overflow-hidden"><img class="h-full w-full object-cover" src="{{ 'new-mt-9.png' | asset_url }}" alt="{{ section.settings.fixed_wing_title | escape }}"></div>
        <div></div>
        <div class="aspect-square overflow-hidden"><img class="h-full w-full object-cover" src="{{ 'new-mt-10.png' | asset_url }}" alt="{{ section.settings.vandal_title | escape }}"></div>
      </div>

      <div class="mt-3 grid grid-cols-[minmax(0,1fr)_minmax(0,1fr)_minmax(0,1fr)_1rem_minmax(0,1fr)_minmax(0,1fr)_1rem_minmax(0,1fr)] gap-4">
        <div class="relative col-span-3 border-t border-[#8d8d8d] pt-2 text-center text-[20px] leading-[1.2] text-[#151515] before:absolute before:-left-px before:-top-[3px] before:h-[6px] before:w-px before:bg-[#8d8d8d] after:absolute after:-right-px after:-top-[3px] after:h-[6px] after:w-px after:bg-[#8d8d8d]">
          {{ section.settings.fpv_title }}
        </div>
        <div></div>
        <div class="relative col-span-2 border-t border-[#8d8d8d] pt-2 text-center text-[20px] leading-[1.2] text-[#151515] before:absolute before:-left-px before:-top-[3px] before:h-[6px] before:w-px before:bg-[#8d8d8d] after:absolute after:-right-px after:-top-[3px] after:h-[6px] after:w-px after:bg-[#8d8d8d]">
          {{ section.settings.fixed_wing_title }}
        </div>
        <div></div>
        <div class="relative col-span-1 border-t border-[#8d8d8d] pt-2 text-center text-[20px] leading-[1.2] text-[#151515] before:absolute before:-left-px before:-top-[3px] before:h-[6px] before:w-px before:bg-[#8d8d8d] after:absolute after:-right-px after:-top-[3px] after:h-[6px] after:w-px after:bg-[#8d8d8d]">
          {{ section.settings.vandal_title }}
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 gap-7 p-3 md:p-6 lg:hidden">
      <div class="flex w-full flex-col">
        <div class="grid w-full grid-cols-3 gap-4">
          <div class="aspect-square overflow-hidden"><img class="h-full w-full object-cover" src="{{ 'new-mt-1.png' | asset_url }}" alt="{{ section.settings.fpv_title | escape }}"></div>
          <div class="aspect-square overflow-hidden"><img class="h-full w-full object-cover" src="{{ 'new-mt-2.png' | asset_url }}" alt="{{ section.settings.fpv_title | escape }}"></div>
          <div class="aspect-square overflow-hidden"><img class="h-full w-full object-cover" src="{{ 'new-mt-3.png' | asset_url }}" alt="{{ section.settings.fpv_title | escape }}"></div>
          <div class="aspect-square overflow-hidden"><img class="h-full w-full object-cover" src="{{ 'new-mt-4.png' | asset_url }}" alt="{{ section.settings.fpv_title | escape }}"></div>
          <div class="aspect-square overflow-hidden"><img class="h-full w-full object-cover" src="{{ 'new-mt-5.png' | asset_url }}" alt="{{ section.settings.fpv_title | escape }}"></div>
          <div class="aspect-square overflow-hidden"><img class="h-full w-full object-cover" src="{{ 'new-mt-6.png' | asset_url }}" alt="{{ section.settings.fpv_title | escape }}"></div>
        </div>
        <div class="relative mt-3 border-t border-[#8d8d8d] pt-2 text-center text-[14px] leading-[1.2] text-[#151515] before:absolute before:-left-px before:-top-[3px] before:h-[6px] before:w-px before:bg-[#8d8d8d] after:absolute after:-right-px after:-top-[3px] after:h-[6px] after:w-px after:bg-[#8d8d8d]">
          {{ section.settings.fpv_title }}
        </div>
      </div>

      <div class="flex w-full flex-col">
        <div class="grid w-full grid-cols-3 gap-4">
          <div class="aspect-square overflow-hidden"><img class="h-full w-full object-cover" src="{{ 'new-mt-7.png' | asset_url }}" alt="{{ section.settings.fixed_wing_title | escape }}"></div>
          <div class="aspect-square overflow-hidden"><img class="h-full w-full object-cover" src="{{ 'new-mt-8.png' | asset_url }}" alt="{{ section.settings.fixed_wing_title | escape }}"></div>
          <div class="aspect-square overflow-hidden"><img class="h-full w-full object-cover" src="{{ 'new-mt-9.png' | asset_url }}" alt="{{ section.settings.fixed_wing_title | escape }}"></div>
        </div>
        <div class="relative mt-3 border-t border-[#8d8d8d] pt-2 text-center text-[14px] leading-[1.2] text-[#151515] before:absolute before:-left-px before:-top-[3px] before:h-[6px] before:w-px before:bg-[#8d8d8d] after:absolute after:-right-px after:-top-[3px] after:h-[6px] after:w-px after:bg-[#8d8d8d]">
          {{ section.settings.fixed_wing_title }}
        </div>
      </div>

      <div class="mx-auto flex w-full flex-col items-center">
        <div class="grid w-full grid-cols-3 gap-4">
          <div class="col-start-2 aspect-square overflow-hidden">
            <img class="h-full w-full object-cover" src="{{ 'new-mt-10.png' | asset_url }}" alt="{{ section.settings.vandal_title | escape }}">
          </div>
        </div>
        <div class="relative mt-3 inline-block border-t border-[#8d8d8d] pt-2 text-center text-[14px] leading-[1.2] text-[#151515] before:absolute before:-left-px before:-top-[3px] before:h-[6px] before:w-px before:bg-[#8d8d8d] after:absolute after:-right-px after:-top-[3px] after:h-[6px] after:w-px after:bg-[#8d8d8d]">
          {{ section.settings.vandal_title }}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "NEW - Our Motors Section",
  "settings": [
    {
      "type": "text",
      "id": "our_motors_title",
      "label": "Our Motors title",
      "default": "Наші мотори"
    },
    {
      "type": "text",
      "id": "fpv_title",
      "label": "FPV title",
      "default": "FPV"
    },
    {
      "type": "text",
      "id": "fixed_wing_title",
      "label": "Fixed-Wing title",
      "default": "Fixed-Wing"
    },
    {
      "type": "text",
      "id": "vandal_title",
      "label": "Vandal title",
      "default": "Vandal (Interceptors)"
    }
  ],
  "presets": [
    {
      "name": "NEW - Our Motors Section"
    }
  ]
}
{% endschema %}
